
  <div *ngIf="boolean">
    <!--Por si entra en list productos sin haber escrito nada en la barra search-->

    <!-- Por si entra en list productos sin haber escrito nada en la barra search-->

 <div class="container">

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
   <div class="carousel-inner">
     <div class="carousel-item active container">
       <img src="../../../assets/img/anuncios-mas-vistos-en-el-black-friday-102652.jpg" width="1000px"  height="300px" class="d-block w-100 " alt="banner1">
     </div>
     <div class="carousel-item">
       <img src="../../../assets/img/65-ciento-descuento-letrero-3d-blanco-oferta-especial-65-etiqueta-descuento-venta-intermitente-sesenta-cinco-ciento_394271-1588.webp" width="1000px" height="300px" class="sm-block w-100" alt="banner2">
     </div>
   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Next</span>
   </button>
 </div>
 
 
 
 
 
 
 
 <!-- Marketing messaging and featurettes
 ================================================== -->
 <!-- Wrap the rest of the page in another container to center all the content. -->
 
 
   <!-- START THE FEATURETTES -->
 
   <hr class="featurette-divider">
 
   <div class="row featurette">
     <div class="col-md-7">
       <h2 class="featurette-heading">RÁPIDO ,FÁCIL  ,SENCILLO <span class="text-muted">It'll blow your mind.</span></h2>
       <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
     </div>
     <div class="col-md-5">
       <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/img/ventas-cyber-monday-shopping_23-2148688502.webp" data-holder-rendered="true">
     </div>
   </div>
 
   <hr class="featurette-divider">
 
   <div class="row featurette">
     <div class="col-md-7 order-md-2">
       <h2 class="featurette-heading">LOS MEJORES PRODUCTOS AL MEJOR PRECIO <span class="text-muted">See for yourself.</span></h2>
       <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
     </div>
     <div class="col-md-5 order-md-1">
       <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;"  src="../../../assets/img/360_F_471670401_BYuZ0Bn7YtYpMv3qvMGyJ7N1KtwuqV2k.jpg" data-holder-rendered="true">
     </div>
   </div>
 
   <hr class="featurette-divider">
 
   <div class="row featurette">
     <div class="col-md-7">
       <h2 class="featurette-heading">LIDERES EN EL SECTOR DE VENTA ONLINE <span class="text-muted">Checkmate.</span></h2>
       <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
     </div>
     <div class="col-md-5">
       <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/img/paquete-logotipos-degradados-comercio-electronico_23-2148954744.webp" data-holder-rendered="true">
     </div>
   </div>
 
 
 
   <!-- /END THE FEATURETTES -->
 
 </div>
 
 
 


  </div>

  <div class="container" *ngFor="let item of collection.data" >



  <form [formGroup]="cantidadProducto" *ngIf="item!=false" >
    <table  class="table">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Precio</th>
          <th>Imagen</th>
          <th>cantidad</th>
        </tr>
      </thead>
      <tbody>

        <!--   <tr *ngFor="let item of collection.data | paginate: config"   > -->
   
        <tr>

 
   
   
          <td >{{ item.tipo }}</td>
          <td>{{ item.marca }}</td>
          <td>{{ item.modelo }}</td>
          <td>{{ item.precio }}</td>
       

          <td>
            <img
              src="../../../assets/img/productos/{{ item.imagen }}.PNG"
              class="img-fluid"
              width="200px"
              height="200px"
              alt="imagen del producto"
            />
          </td>
          <td>
            <input id="cantidad" type="number" formControlName="cantidad" />
          </td>
          <td>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="
                agregarCarro(item.tipo, item.marca, item.modelo, item.precio ,item.imagen )
              "
            >
              Agregar al carrito
            </button>
            <button
              type="submit"
              class="btn btn-danger"
              (click)="comprar(item)"
            >
              Comprar
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </form>
 </div>

  <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>-->
  <!--modulo para pasar páginas-->

